.images {
    margin-top: 100px;
    padding-left: 70px;
    /* align-items: center; */
    height: 20vh;
    
}

#header {
    text-align: center;
    font-size: 30px;
}
.icons {
    display:  flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.images:hover {
    animation: shake-animation 4.72s ease infinite;
    transform-origin: 50% 50%;
}

@keyframes shake-animation {
     0% { transform:translate(0,0) }
    1.78571% { transform:translate(5px,0) }
    3.57143% { transform:translate(0,0) }
    5.35714% { transform:translate(5px,0) }
    7.14286% { transform:translate(0,0) }
    8.92857% { transform:translate(5px,0) }
    10.71429% { transform:translate(0,0) }
    100% { transform:translate(0,0) }
}