* {
    background-color: rgb(234, 243, 248);
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footnavbar{
    overflow: hidden;
    background-color:rgb(212, 239, 248) ;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;

}

.footnavbar a {
  float: left;
  display: block;
  color: black;
  /* margin-left: 150px; */
  padding: 20px 60px;
  text-decoration: none;
  font-size: 30px;
  background-color: rgb(212, 239, 248) ;
}

#mywork {
    border-color: black;
    font-size: 20px;

}

#intropic {
    height: 35vh;
}