* {
    background-color: whitesmoke;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footnavbar{
    overflow: hidden;
    margin-top: 100px;
    margin-left:300px;

    /* position: fixed;
    bottom: 0;
    width: 80%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    /* margin-left: 10px;  
    margin-bottom: 20px; */

}

.footnavbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 60px;
  text-decoration: none;
  font-size: 30px;
}



/* .textDeco {
    text-decoration: none;

} */